*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.contenedorHeader01{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

header {

    margin: auto;
    padding: 0px 0px 10px 0px;
    max-height:350px;
    background-color: #EAC926;
    color: #03264C;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    position: relative;
    

}

.logo{
    width: 100%;
    padding: 10px;

}

.contenedorHeader01 {

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px

}

header nav{
    font-size: 12px;
    display: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}


header i {
    size: 2em;
    text-align: center;
}

header h3 {

    font-size: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin-top: 10px;
}

.buscador {
    
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    min-width: 25%;
    max-width: 300px;
    height: 30px;
    border: 2px solid #666;
    color: #666;

}

.barra-busqueda {

    background: none;
    font-size: 15px;
    padding: 0px 0px 0px 5px;
    display: flex;
    border: none;
    outline: none
    
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

/* FIN HEADER */

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description {
    opacity: 0;
    transition: all 2s;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
}

main section article {
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: -20px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 5px;
    position: relative;
    display: none;
}
.box-price {
    display: flex;
}
.box-price .price {
    width: 40%;
}
.box-price .discount {
    width: 60%;
}

footer{
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    height: 20vh;
}


.fa-gift,
.fa-user-shield,
.fa-credit-card
{
    color: #1259c3;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 10px;
}


.fa-gift:hover, .fa-user-shield:hover, .fa-credit-card:hover{
    color: #EAC926;
}

#copyright{
    padding-top: 150px;
    text-align: left;
    font-size: 10px;
}

@media (min-width: 361px){
    header nav{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .logo{
        width: 30%;
    }

    
    div.burger-menu i{
        display: none;
    }

    .contenedorHeader01{
        display: flex;
        align-items: center;
    } 

    .contenedorHeader01{
        padding: 10px;
        display: flex;
        align-self: center;
    }

    header nav{
        font-size: 20px;
        padding: 2%;        
    }

    header nav ul li{
        display: inline-block;
        margin: 0 10px 0 20px; 
    }

      
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .products article {
        width: 45%;
        transition: box-shadow 2s;
    }
    
    main section article:hover .description {
        opacity: 1;
    }

    main section article:hover {
        box-shadow: 0px 0px 25px rgb(100, 100, 100);
    }

    footer{
        display: flex;
        background-color: white;

    }

    .tarjeta p,
    .gift p,
    .shield p {
        width: 70%;
        display: inline-block;
        margin-top: 10px;
    }
    
}

@media (min-width: 769px){
    .products article {
        width: 22%;
    }
}




@import url('register.css');
.form-search {
    width: 30%;
    background-color: white;
}
.form-search input {
    border: none;
    outline: none;
}
